#translator{
  background: var(--color) ;   
  height:93vh;
  font-weight: 500; 
  text-shadow: 0.5px 0.5px #292929;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  font-family:  Roboto, Arial, sans-serif;
  text-align: center;
  padding: 5px;
  color:white;
}

.grid {
  display: grid;
  grid-template-columns: repeat(8, 120px);
  gap: 5px;
  justify-content: center;
  margin-top: 5px;
}

.cell {
  border: 2px solid #555;
  padding: 20px;
  background: #fff;
  font-weight: bold;
  font-size: 1.2em;
  cursor: pointer;
  transition: background 0.3s ease;
  border-color: black;
  color:black;
}

.cell.correct { background: #b2fab4; }
.cell.wrong { background: #fab2b2; }

#numero {
  margin-top: 20px;
  font-size: 8em;
  color: white;
  font-family: Lobster;
}
#marcador, #tiempo, #record, #total {
  margin-top: 10px;
  font-size: 1.2em;
  color: white;
}

#translator 
select, button {
  margin-top: 15px;
  padding: 8px 12px;
  font-size: 1em;
  background: white ;
  color:var(--color);  
}
.btn{
          background-color: transparent;
          border-color: white;
          color:white;
        border-radius: 5px;}
          
.btn:hover
         {
            background-color:white;
            color:var(--color);
         } 

